
services:
  ros_packages:
    build:
      context: ..           
      dockerfile: docker/dockerfile
    runtime: nvidia
   
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - ROS_DOMAIN_ID=5
      - DISPLAY=${DISPLAY} # Set the display to the host display
      - ENV MODEL_WEIGHTS_PATH=nerf_ws/data/stone_nerf # Set the model weights path


    volumes:
      - ../src:/nerf_ws/src
      - ../data:/nerf_ws/data
    
    command: bash -c "echo 'source /entrypoint.sh' >> ~/.bashrc && \ 
              source ~/.bashrc && \
              ros2 launch foxglove_bridge foxglove_bridge_launch.xml & \
              ros2 run occupancy_package node_occupancy & \
              ros2 run seg_package seg_node & \
              ros2 run path_planner_package path_planner_node & \
              ros2 run path_planner_package path_planner_service & \
              tail -f /dev/null"

    network_mode: host